.col-md-6.text-right
  - if @prototype.liked_by?(current_user) #if current_user.likes.exists?
    %button.btn.btn-default
      = link_to image_tag('icon_heart_red.svg'), like_path(@prototype), method: :delete, remote: true
      / = link_to image_tag('icon_heart_red.svg'), like_path(prototype_id: @prototype.id), method: :delete, remote: true
      Like
      %span.num= @prototype.likes_count
  - else
    %button.btn.btn-default
      = link_to image_tag('icon_heart.svg'), likes_path(id: @prototype.id), method: :post, remote: true
      / = link_to image_tag('icon_heart.svg'), likes_path(prototype_id: @prototype.id), method: :post, remote: true
      Like
      %span.num= @prototype.likes_count
